SNOWFLAKE_ACCOUNT=''
SNOWFLAKE_USER=''
SNOWFLAKE_PASSWORD=''
SNOWFLAKE_WAREHOUSE=''
SNOWFLAKE_DATABASE=''
SNOWFLAKE_SCHEMA=''
WS_POLL_INTERVAL_SECONDS=5
GEMINI_API_KEY=''
GEMINI_MODEL='gemini-1.5-flash'
ELEVENLABS_API_KEY=''
ELEVENLABS_VOICE_ID='EXAVITQu4vr4xnSDxMaL'
ELEVENLABS_MODEL_ID='eleven_multilingual_v2'
